@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jgienn');
  src:  url('../fonts/icomoon.eot?jgienn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jgienn') format('truetype'),
    url('../fonts/icomoon.woff?jgienn') format('woff'),
    url('../fonts/icomoon.svg?jgienn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\f0c5";
}
.icon-_526:before {
  content: "\f231";
}
.icon-arrow_left:before {
  content: "\f060";
}
.icon-arrow_right:before {
  content: "\f061";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-tumblr:before {
  content: "\eab9";
}
